/* СБРОС СТИЛЕЙ */
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

img, svg {
  display: block;
  height: auto;
}

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ШРИФТ */
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v24-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/montserrat-v24-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/montserrat-v24-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/montserrat-v24-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/montserrat-v24-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/montserrat-v24-latin_cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v24-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/montserrat-v24-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/montserrat-v24-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/montserrat-v24-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
  url('../fonts/montserrat-v24-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/montserrat-v24-latin_cyrillic-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v24-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/montserrat-v24-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/montserrat-v24-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/montserrat-v24-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
  url('../fonts/montserrat-v24-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/montserrat-v24-latin_cyrillic-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v24-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/montserrat-v24-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/montserrat-v24-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/montserrat-v24-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/montserrat-v24-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/montserrat-v24-latin_cyrillic-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* ПЕРЕМЕННЫЕ */
$black: #000000;
$yellow: #F8B705;
$white: #FFFFFF;
$light-grey: #D4D4D4;
$dark-grey: #545454;
$red: #D81A1A;
$light-black: #272727;


/* LAYOUT */
html {
  overflow-x: hidden;
}

body {
  color: $black;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  position: relative;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

.section {
  display: flex;
  justify-content: center;
  width: 100%;

  &__h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;

    &:first-letter {
      color: $yellow;
    }
  }
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  width: 100%;
}

/* АНИМАЦИИ */
@keyframes left-rotate {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(360deg);
  }
}

@keyframes right-rotate {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(-360deg);
  }
}

@keyframes mobile-nav-fade {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  1% {
    transform: translateY(0);
  }

  100% {
    opacity: 1;
  }
}

.btn {
  background: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  min-width: 281.37px;
  padding: 28px 48px;
  transition: .3s;

  &--outline {
    border: 2px solid $yellow;
    box-shadow: 0px 0px 10px rgba(255, 212, 161, 0.3);
    color: $white;
    filter: drop-shadow(0px 0px 15px #F8B705);

    &:hover {
      background: $yellow;
    }
  }

  &--filled {
    background: $yellow;
    border: 2px solid $yellow;
    box-shadow: 0px 0px 10px rgba(255, 228, 175, 0.3);
    color: $white;

    &:hover {
      background: none;
      filter: drop-shadow(0px 0px 10px rgba(255, 228, 175, 0.3));
    }
  }
}

/* БЛОКИ> */
.header {
  background: $white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  padding: 23px 36px 23px;
  position: fixed;
  top: 0;
  z-index: 9;

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__logo {
    display: block;

    svg {
      width: 182px;
    }
  }

  &__big-gear {
    animation: 2s left-rotate infinite linear;
    transform-origin: 85.78px 19.23px;
  }

  &__small-gear {
    animation: 1s right-rotate infinite linear;
    transform-origin: 95.1px 5.51px;
  }

  &__nav {
    display: grid;
    grid-gap: 63px;
    grid-template-columns: repeat(3, auto);

    .header {
      &__close, &__phone, &__address {
        display: none;
      }
    }
  }

  &__link {
    color: $black;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__phone {
    color: $black;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__address {
    color: $black;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top: 10px;
  }

  &__burger {
    display: none;
  }
}

.main:not(.main-page) {
  margin-top: 100px;
}

.first-block {
  background: url("../img/first_block_bg.jpg") center;
  background-size: cover;
  padding: 30px 0 151px;
  position: relative;
  z-index: 10;

  &__header {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

    .header {
      &__logo svg {
        width: 242px;
      }

      &__big-gear {
        animation: 2s left-rotate infinite linear;
        transform-origin: 284px 65.7px;
      }

      &__small-gear {
        animation: 1s right-rotate infinite linear;
        transform-origin: 315px 19px;
      }

      &__link {
        color: $white;
      }

      &__phone {
        color: $white;
      }

      &__address {
        color: $white;
        margin-top: 12px;
      }
    }
  }

  &__h1 {
    color: $white;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    margin-top: 92px;
    max-width: 746px;
    text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
  }

  &__description {
    color: $white;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top: 39px;
    max-width: 556px;
  }

  &__btn {
    margin-top: 49px;
  }
}

.advantages {
  margin-top: 150px;

  &__subtitle {
    color: $dark-grey;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top: 10px;
    opacity: .8;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 53px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: fit-content;

    img {
      margin-left: 78px;
      width: 100px;
    }

    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      margin-top: 12px;
      text-align: center;
    }
  }
}

.services {
  margin-top: 150px;

  &__grid {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
  }

  .av-container {
    &:nth-child(1) .services__card {
      background-image: linear-gradient(90deg, #4C0000 0%, #FF0000 100%);

      &::before {
        background-image: url("../img/services_decor_1.svg");
      }

      img {
        width: 259px;
      }
    }

    &:nth-child(2) .services__card  {
      background-image: linear-gradient(90deg, #410058 0%, #EB00FF 100%);

      &::before {
        background-image: url("../img/services_decor_2.svg");
      }

      img {
        width: 450px;
      }
    }

    &:nth-child(3) .services__card  {
      background-image: linear-gradient(90deg, #001E4C 0%, #0075FF 100%);

      &::before {
        background-image: url("../img/services_decor_3.svg");
      }

      img {
        width: 266px;
      }
    }

    &:nth-child(4) .services__card  {
      background-image: linear-gradient(90deg, #002A0C 0%, #00DB3D 100%);

      &::before {
        background-image: url("../img/services_decor_4.svg");
      }

      img {
        width: 372px;
      }
    }
  }

  &__card {
    border-radius: 10px;
    cursor: pointer;
    padding: 20px;
    position: relative;
    overflow: hidden;

    &:hover {
      a {
        text-decoration: underline;
      }
    }

    &::before {
      background-position: bottom left;
      background-size: cover;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    img {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    h4 {
      color: $white;
      font-weight: 600;
      font-size: 25px;
      line-height: 30px;
      position: relative;
      text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
    }

    ul {
      margin-top: 20px;
      padding-left: 11px;
      position: relative;
      list-style-type: none;
    }

    li {
      color: $white;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      position: relative;
      text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.25);

      &::before {
        content: '–';
        position: absolute;
        left: -11px;
      }
    }

    a {
      align-items: center;
      color: $white;
      display: flex;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      margin: 20px 0 70px;
      position: relative;
      text-decoration: none;

      &::after {
        background: url("../img/services_arrow.svg") no-repeat;
        background-size: contain;
        content: '';
        margin-left: 10px;
        height: 15px;
        width: 21px;
      }
    }
  }
}

.reviews {
  margin: 150px 0;

  &__wrapper {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 63px;
  }

  .av-container {
    display: flex;
    flex-direction: column;
  }

  &__card {
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px 20px 31px 20px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
  }

  &__rating {
    display: flex;
    margin-left: 20px;

    &.mobile {
      display: none;
    }
  }

  &__star {
    background: url("../img/reviews_star.svg") no-repeat center;
    background-size: contain;
    width: 30px;

    & + & {
      margin-left: 5px;
    }
  }

  &__text {
    flex-grow: 1;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top: 36px;
  }

  &__footer {
    margin-top: 45px;
  }

  &__date {
    color: $dark-grey;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    opacity: 0.5;
  }
}

.big-form {
  background: $light-black;
  padding: 61px 0;

  &__h2 {
    color: $white;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
  }

  &__form {
    margin-top: 70px;
  }

  &__fields {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(2, 1fr);

    input {
      background: none;
      border: 2px solid #FFFFFF;
      color: $white;
      filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.5));
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      padding: 29px 41px;
      text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);

      &::placeholder {
        color: $white;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  &__btn {
    margin-top: 44px;
  }

  &__policy {
    color: $dark-grey;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding-left: 12px;
    position: relative;
    margin-top: 20px;

    &::before {
      background: $dark-grey;
      border-radius: 50%;
      content: '';
      position: absolute;
      top: 8px;
      left: 0;
      height: 5px;
      width: 5px;
    }
  }
}

.gallery {
  margin: 150px 0;

  &__slider {
    margin: 53px 0 48px;

    .slick {
      &-arrow {
        background: url("../img/gallery_arrow.svg") no-repeat center;
        background-size: contain;
        border: none;
        font-size: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 74px;
        width: 42px;
      }

      &-prev {
        left: -120px;
      }

      &-next {
        transform: rotate(180deg) translateY(50%);
        right: -120px;
      }

      &-dots {
        display: flex;
        position: absolute;
        bottom: -48px;
        left: 50%;
        transform: translateX(-50%);

        button {
          background: #C4C4C4;
          border: none;
          border-radius: 50%;
          font-size: 0;
          padding: 0;
          height: 20px;
          width: 20px;
        }

        li.slick-active {
          button {
            background: $black;
          }
        }

        li + li {
          margin-left: 22px;
        }
      }
    }
  }

  &__slide {
    height: 600px;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

.footer {
  background: url("../img/footer_bg.jpg") center;
  background-size: cover;

  &__nav {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 0 60px;
  }

  &__category-name {
    color: $white;
    display: block;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 22px;
    text-decoration: none;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.25);
    transition: .3s;
    width: fit-content;

    &:hover {
      color: $yellow;
    }
  }

  &__subcategory {
    color: $white;
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding-left: 14px;
    position: relative;
    text-decoration: none;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.25);
    transition: .3s;
    width: fit-content;

    &::before {
      content: '–';
      position: absolute;
      left: 0;
    }

    &:hover {
      color: $yellow;
    }
  }

  &__more {
    align-items: center;
    color: $white;
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top: 22px;
    opacity: 0.7;
    text-decoration: none;
    width: fit-content;

    &:hover {
      text-decoration: underline;
    }

    &::after {
      background: url("../img/footer_arrow.svg") no-repeat;
      background-size: contain;
      content: '';
      display: block;
      margin-left: 10px;
      height: 15px;
      width: 21px;
    }
  }

  &__go {
    display: none;
  }

  &__hr {
    background: $white;
    height: 1px;
  }

  &__main {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(2, 1fr);
    padding: 43px 0 41px;
  }

  &__logo {
    display: block;
    width: fit-content;

    svg {
      width: 347px;
    }
  }

  &__slogan {
    color: $white;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top: 50px;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3);
  }

  &__contacts {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
  }

  &__socials {
    display: flex;

    a {
      display: block;
    }

    a + a {
      margin-left: 40px;
    }

    img {
      width: 45px;
    }
  }

  &__phone {
    color: $white;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-decoration: none;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);

    &:hover {
      text-decoration: underline;
    }
  }

  &__h2 {
    color: $white;
    margin-bottom: 31px;
  }

  &__form {
    input {
      background: none;
      border: 2px solid #FFFFFF;
      color: #FFFFFF;
      display: block;
      filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.5));
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      padding: 20px 41px;
      text-shadow: 0px 0px 20px rgb(255 255 255 / 50%);
      width: 100%;
    }

    input + input {
      margin-top: 20px;
    }
  }

  &__btn {
    margin-top: 20px;
    padding: 20px 50px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 22px 0 30px;

    * {
      color: $white;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.mobile-nav {
  display: none;
}

.modal {
  align-items: center;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  &__outside {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__body {
    background: #FFFFFF;
    box-shadow: 0px 0px 250px #000000, 0px 0px 250px #000000;
    padding: 25px 15px;
    position: relative;
    width: 300px;
  }

  &__h2 {
    font-size: 30px !important;
    line-height: 37px !important;
    margin-bottom: 28px;
  }

  input {
    border: 2px solid #000000;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 24px 34px;
    width: 100%;
  }

  input + input {
    margin-top: 20px;
  }

  &__btn {
    margin-top: 20px;
    min-width: unset;
    padding: 22px;
    width: 100%;

    &:hover {
      color: $black;
    }
  }
}

.breadcrumbs {
  padding-top: 34px;

  * {
    font-size: 20px;
    line-height: 24px;
  }

  a {
    color: $black;
    text-decoration: none;

    &:hover span {
      text-decoration: underline;
    }

    &::after {
      content: ' > ';
    }
  }

  &__current {
    color: $yellow;
  }
}

.services-page .services {
  margin: 29px 0 150px;
}

.services-list {
  margin: 29px 0 150px;

  &__grid {
    display: grid;
    grid-gap: 50px 174px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 36px;
  }

  &__card {
    cursor: pointer;
    display: flex;
    flex-direction: column;

    &:hover .services-list__link {
      text-decoration: underline;

      &::after {
        background-image: url("../img/services_list_arrow_long.svg");
        width: 25px;
      }
    }
  }

  &__img {
    height: 200px;

    img {
      object-position: left;
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }

  &__price {
    display: block;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
  }

  &__name {
    flex-grow: 1;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top: 10px;
  }

  &__link {
    align-items: center;
    color: $black;
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top: 8px;
    text-decoration: none;

    &::after {
      background: url("../img/services_list_arrow.svg") no-repeat;
      background-size: contain;
      content: '';
      display: block;
      margin-left: 10px;
      height: 15px;
      width: 21px;
    }
  }
}

.service-detail {
  margin: 30px 0 86px;

  &__wrapper {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 45px;
  }

  &__info {
    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__price {
    display: block;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    margin-top: 45px;
  }

  &__btn {
    margin-top: 30px;

    &:hover {
      color: $black;
    }
  }

  &__img {
    height: 352px;

    img {
      object-fit: contain;
      object-position: left;
      height: 100%;
      width: 100%;
    }
  }
}

.question {
  margin-bottom: 150px;

  &__wrapper {
    border: 2px solid #545454;
    border-radius: 15px;
    display: grid;
    grid-gap: 60px;
    grid-template-columns: 1fr auto;
    padding: 30px 40px;
  }

  &__h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
  }

  &__description {
    color: $light-black;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-top: 9px;
  }

  &__contacts {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }

  &__socials {
    display: flex;

    a {
      display: block;
    }

    a + a {
      margin-left: 58px;
    }

    img {
      width: 67px;
    }
  }

  &__phone {
    color: $black;
    display: block;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    margin-top: 42px;
    text-align: right;
    text-decoration: none;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
    width: fit-content;

    &:hover {
      text-decoration: underline;
    }
  }
}

.contacts {
  margin: 30px 0 100px;

  &__grid {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
  }

  &__address {
    color: $dark-grey;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  &__time {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    span {
      color: $red;
      display: block;
    }
  }

  &__map {
    height: 600px;
    margin-top: 48px;
  }
}

.promotions {
  margin: 32px 0 150px;

  &__grid {
    display: grid;
    grid-gap: 63px 60px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 54px;
  }

  .av-container {
    &:nth-child(1) .promotions__card {
      background-image: url("../img/promotions_1.jpg");

      .promotions {
        &__additional {
          color: #62BDFF;
          text-shadow: 0px 0px 15px rgba(0, 148, 255, 0.5);
        }
      }
    }

    &:nth-child(2) .promotions__card {
      background-image: url("../img/promotions_2.jpg");

      .promotions {
        &__additional {
          color: #FF7008;
          text-shadow: 0px 0px 15px rgba(255, 112, 8, 0.7);
        }
      }
    }

    &:nth-child(3) .promotions__card {
      background-image: url("../img/promotions_3.jpg");

      .promotions {
        &__additional {
          color: #A952FF;
          text-shadow: 0px 0px 15px rgba(117, 8, 255, 0.7);
        }
      }
    }

    &:nth-child(4) .promotions__card {
      background-image: url("../img/promotions_4.jpg");

      .promotions {
        &__additional {
          color: #37E928;
          text-shadow: 0px 0px 15px rgba(0, 255, 87, 0.5);
        }
      }
    }
  }

  &__card {
    background-position: left;
    background-size: cover;
    border-radius: 10px;
    padding: 27px 31px 21px;
  }

  &__name {
    color: $white;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
  }

  &__additional {
    display: block;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    margin-top: 7px;
    text-transform: uppercase;
  }

  &__btn {
    border: 2px solid #FFFFFF;
    color: $white;
    display: block;
    margin-top: 36px;
    min-width: unset;
    padding: 15px 60px;
    text-decoration: none;
    width: fit-content;

    &:hover {
      background: $white;
      color: $black;
    }
  }

  &__date {
    color: $white;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top: 37px;
    opacity: 0.5;
  }
}

.promotion-page {
  background: url("../img/promotion_bg.jpg") center;
  background-size: cover;

  .breadcrumbs a {
    color: $white;
  }

  .question {
    &__wrapper {
      border: 2px solid $light-grey;
    }

    &__h2, &__phone {
      color: $white;
    }

    &__description {
      color: $light-grey;
    }
  }
}

.promotion {
  margin: 30px 0 150px;

  &__h2 {
    color: $white;
  }

  &__description {
    color: $white;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top: 59px;
  }

  &__date {
    color: $white;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-top: 19px;
    opacity: .5;
  }

  &__btn {
    margin-top: 50px;
  }
}

.not-found {
  position: relative;

  &::before {
    background: url("../img/404_left.png") top left no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    height: calc(100vw * 0.25 * 1.157);
    width: calc(100vw * 0.25);
  }

  &::after {
    background: url("../img/404_right.png") bottom right no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    height: calc(100vw * 0.254 * 0.82);
    width: calc(100vw * 0.254);
  }

  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 61px 0 151px;
  }

  &__h1 {
    color: $light-grey;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
  }

  &__description {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }

  &__btn {
    display: block;
    font-size: 20px;
    line-height: 24px;
    margin-top: 93px;
    text-decoration: none;

    &:hover {
      color: $black;
    }
  }
}

@media screen and (max-width: 1600px) {
  .gallery {
    &__slider {
      padding: 0 41px;

      .slick {
        &-arrow {
          height: 37px;
          width: 21px;
        }

        &-prev {
          left: 0;
        }

        &-next {
          right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .advantages {
    margin-top: 130px;

    &__card {
      align-items: center;
      max-width: 210px;

      img {
        margin-left: 0;
      }
    }
  }

  .services {
    &__card {
      &:nth-child(1) {
        img {
          width: 40%;
        }
      }

      &:nth-child(2) {
        img {
          width: 70%;
        }
      }

      &:nth-child(3) {
        img {
          width: 40%;
        }
      }

      &:nth-child(4) {
        img {
          width: 53%;
        }
      }
    }
  }

  .reviews {
    margin: 130px 0;

    &__wrapper {
      margin-top: 50px;
    }

    &__rating {
      &.desktop {
        display: none;
      }

      &.mobile {
        display: flex;
        margin-left: 48px;
      }
    }

    &__star {
      height: 24px;
      width: 24px;

      & + & {
        margin-left: 4px;
      }
    }

    &__footer {
      align-items: flex-end;
      display: flex;
      margin-top: 22px;
    }
  }

  .big-form {
    padding: 30px 0 93px;

    &__policy {
      color: $light-grey;

      &::before {
        background: $light-grey;
      }
    }
  }

  .gallery {
    margin: 130px 0;

    &__slider {
      margin-top: 100px;
      padding: 0 95px;

      .slick {
        &-prev {
          left: 33px;
        }

        &-next {
          right: 33px;
        }
      }
    }

    &__slide {
      height: 500px;
    }
  }

  .footer {
    &__contacts {
      align-items: flex-start;
      flex-direction: column;
      margin-top: 29px;
    }

    &__phone {
      margin-top: 24px;
    }
  }

  .services-page .services {
    margin: 29px 0 130px;
  }

  .services-list {
    margin: 29px 0 130px;

    &__grid {
      grid-gap: 70px 54px;
    }

    &__card {
      &:hover {
        .services-list__link {
          &::after {
            background-image: url("../img/services_list_arrow_yellow.svg");
            width: 21px;
          }
        }
      }
    }

    &__link {
      color: $yellow;

      &::after {
        background-image: url("../img/services_list_arrow_yellow.svg");
      }
    }
  }

  .service-detail {
    margin: 30px 0 57px;
  }

  .question {
    margin-bottom: 130px;
  }

  .contacts {
    margin: 30px 0 70px;
  }

  .promotions {
    margin: 32px 0 130px;

    &__grid {
      grid-gap: 53px 48px;
      margin-top: 47px;
    }
  }

  .promotion {
    margin: 30px 0 130px;

    &__description {
      margin-top: 26px;
    }

    &__date {
      margin-top: 11px;
    }

    &__btn {
      margin-top: 42px;
    }
  }

  .not-found {
    &::before {
      background-image: url("../img/404_left_1240.png");
      height: calc(100vw * 0.253 * 1.083);
      width: calc(100vw * 0.253);
    }

    &::after {
      background-image: url("../img/404_right_1240.png");
      height: calc(100vw * 0.256 * 0.642);
      width: calc(100vw * 0.256);
    }

    &__container {
      margin: 39px 0 130px;
    }

    &__description {
      max-width: 343px;
    }

    &__btn {
      margin-top: 63px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .header {
    &__nav {
      grid-gap: 45px;
    }
  }

  .footer {
    &__nav {
      grid-gap: 55px;
      padding-bottom: 96px;
    }

    &__category-name {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 15px;
    }

    &__subcategory {
      display: none;
    }

    &__more {
      display: none;
    }

    &__go {
      display: flex;
      font-size: 16px;
      line-height: 20px;
      margin-top: 15px;
    }

    &__nav + &__hr {
      display: none;
    }

    &__hr + &__main {
      padding-top: 0;
    }

    &__main {
      grid-gap: 79px;
      grid-template-columns: 1fr;
      padding: 42px 0 67px;
    }

    &__logo {
      svg {
        width: 286px;
      }
    }

    &__contacts {
      margin-top: 36px;
    }

    &__form input {
      font-size: 16px;
      line-height: 20px;
    }

    &__bottom  {
      padding: 22px 0 43px;

      * {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  .promotions {
    &__grid {
      grid-gap: 38px;
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 850px) {
  .section {
    &__h2 {
      font-size: 40px;
      line-height: 49px;
    }
  }

  .header {
    &__container {
      display: grid;
      grid-gap: 39px;
      grid-template-columns: auto 1fr auto;
    }

    &__nav {
      display: none;
    }

    &__contacts {
      align-items: flex-end;
    }

    &__address {
      margin-top: 6px;
    }

    &__burger {
      background: none;
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0;
      height: 38px;
      width: 52px;

      div {
        background: $black;
        border-radius: 5px;
        height: 4px;
        width: 100%;
      }
    }
  }

  .mobile-nav {
    background: $white;
    display: flex;
    grid-gap: 0;
    flex-direction: column;
    padding: 24px 35px 57px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    &__close, &__phone, &__address {
      display: block;
    }

    &__close {
      background: url("../img/header_close.svg") no-repeat;
      background-size: contain;
      border: none;
      position: absolute;
      top: 24px;
      right: 30px;
      height: 20.69px;
      width: 21px;
    }

    a {
      color: $black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &__link {
      font-weight: 500;
    }

    &__phone {
      font-size: 14px;
      line-height: 17px;
      margin-top: 97px;
    }

    &__address {
      font-size: 14px;
      line-height: 17px;
      margin-top: 27px;
    }

    &__link {
      font-size: 14px;
      line-height: 17px;

      & + & {
        margin-top: 27px;
      }
    }
  }

  .first-block {
    padding: 30px 0 100px;

    &__header {
      align-items: center;
      display: grid;
      grid-gap: 39px;
      grid-template-columns: auto 1fr auto;

      .header {
        &__logo {
          svg {
            width: 160px;
          }
        }

        &__address {
          margin-top: 6px;
        }

        &__burger {
          div {
            background: $white;
          }
        }
      }
    }

    &__h1 {
      font-size: 42px;
      line-height: 51px;
      margin-top: 78px;
      max-width: 524px;
    }

    &__description {
      font-size: 16px;
      line-height: 20px;
      max-width: 495px;
      margin-top: 25px;
    }

    &__btn {
      margin-top: 25px;
    }
  }

  .advantages {
    margin-top: 80px;

    &__subtitle {
      font-size: 16px;
      line-height: 20px;
      margin-top: 15px;
    }

    &__card {
      max-width: 120px;

      img {
        width: 80px;
      }

      p {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  .services {
    &__grid {
      grid-gap: 40px;
    }

    &__card {
      height: 200px;

      &:nth-child(1) {
        img {
          width: 45%;
        }
      }

      &:nth-child(2) {
        img {
          width: 80%;
        }
      }

      &:nth-child(3) {
        img {
          width: 45%;
        }
      }

      &:nth-child(4) {
        img {
          width: 60%;
        }
      }

      h4 {
        font-size: 20px;
        line-height: 24px;
      }

      ul {
        display: none;
      }

      a {
        font-size: 16px;
        line-height: 20px;

        &::after {
          background-image: url("../img/services_arrow_small.svg");
          height: 8px;
          width: 20.5px;
        }
      }
    }
  }

  .reviews {
    margin: 80px 0;

    &__wrapper {
      grid-gap: 37px;
      grid-template-columns: 1fr;
      margin-top: 37px;
    }

    &__card {
      min-height: 250px;
    }

    &__name {
      font-size: 20px;
      line-height: 24px;
    }

    &__text {
      font-size: 16px;
      line-height: 20px;
      margin-top: 24px;
    }

    &__footer {
      margin-top: 68px;
    }

    &__rating.mobile {
      margin-left: 0;
    }
  }

  .big-form {
    padding: 30px 0 45px;

    &__form {
      margin-top: 37px;
    }

    &__fields {
      grid-gap: 20px;
      grid-template-columns: 1fr;

      input {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &__btn {
      margin-top: 20px;
    }

    &__policy {
      font-size: 16px;
      line-height: 20px;

      &::before {
        top: 7px;
      }
    }
  }

  .gallery {
    margin: 80px 0;

    &__slider {
      margin-top: 44px;
      margin-bottom: 28px;
      padding: 0;

      .slick {
        &-dots {
          bottom: -28px;

          button {
            height: 15px;
            width: 15px;
          }

          li + li {
            margin-left: 17px;
          }
        }
      }
    }
  }

  .breadcrumbs {
    padding-top: 29px;

    * {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .services-page .services {
    margin: 29px 0 80px;
  }

  .services-list {
    margin: 29px 0 80px;

    &__grid {
      grid-gap: 65px 95px;
      grid-template-columns: repeat(2, 1fr);
    }

    &__name {
      font-size: 16px;
      line-height: 20px;
    }

    &__link {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .service-detail {
    margin: 30px 0 51px;

    &__wrapper {
      grid-gap: 51px;
      grid-template-columns: 1fr;
      margin-top: 33px;
    }

    &__img {
      height: unset;
    }

    &__info {
      p {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  .question {
    margin-bottom: 80px;

    &__wrapper {
      grid-gap: 20px;
    }

    &__h2 {
      font-size: 40px;
      line-height: 49px;
    }

    &__description {
      margin-top: 11px;
    }

    &__socials {
      a + a {
        margin-left: 20px;
      }

      img {
        width: 45px;
      }
    }

    &__phone {
      font-size: 20px;
      line-height: 24px;
      margin-top: 35px;
    }
  }

  .contacts {
    margin: 35px 0 60px;

    &__grid {
      margin-top: 12px;
    }

    &__address {
      font-size: 16px;
      line-height: 20px;
    }

    &__time {
      font-size: 16px;
      line-height: 20px;
    }

    &__map {
      height: 368px;
    }
  }

  .promotions {
    margin: 26px 0 80px;

    &__grid {
      margin-top: 47px;
    }

    &__name {
      font-size: 20px;
      line-height: 24px;
    }

    &__additional {
      font-size: 40px;
      line-height: 49px;
      margin-top: 11px;
    }

    &__btn {
      margin-top: 25px;
    }

    &__date {
      font-size: 16px;
      line-height: 20px;
      margin-top: 42px;
    }
  }

  .promotion {
    margin: 30px 0 80px;

    &__name {
      font-size: 16px;
      line-height: 20px;
      margin-top: 33px;
    }

    &__date {
      margin-top: 15px;
    }

    &__btn {
      padding: 28px 60px;
    }
  }

  .not-found {
    &__container {
      margin: 41px 0 72px;
    }

    &__h1 {
      font-size: 50px;
      line-height: 61px;
    }

    &__description {
      font-size: 18px;
      line-height: 22px;
      max-width: 270px;
    }

    &__btn {
      font-size: 16px;
      line-height: 20px;
      margin-top: 55px;
      padding: 30px 40px;
      min-width: unset;
    }
  }
}

@media screen and (max-width: 580px) {
  .section {
    &__h2 {
      font-size: 30px;
      line-height: 37px;
    }
  }

  .header {
    padding: 18px 20px;

    &__container {
      display: flex;
      justify-content: space-between;
    }

    &__logo {
      svg {
        width: 115px;
      }
    }

    &__contacts {
      display: none;
    }

    &__burger {
      height: 28px;
      width: 38px;

      div {
        height: 3px;
      }
    }
  }

  .first-block {
    &__header {
      display: flex;
      justify-content: space-between;

      .header {
        &__logo {
          svg {
            width: 130px;
          }
        }
      }
    }
  }

  .advantages {
    margin-top: 70px;

    &__subtitle {
      font-size: 14px;
      line-height: 17px;
      margin-top: 8px;
    }

    &__wrapper {
      flex-direction: column;
      margin-top: 44px;
    }

    &__card {
      align-items: flex-start;
      max-width: 100%;

      img {
        width: 59px;
      }

      p {
        font-size: 14px;
        line-height: 17px;
        text-align: left;
      }

      & + & {
        margin-top: 28px;
      }
    }
  }

  .services {
    &__grid {
      grid-gap: 20px;
      grid-template-columns: 1fr;
      margin-top: 42px;
    }

    &__card {
      height: 174px;

      h4 {
        font-size: 18px;
        line-height: 22px;
      }

      a {
        font-size: 14px;
        line-height: 17px;
        margin: 29px 0 87px;
      }

      &:nth-child(1) {
        img {
          width: 121px;
        }
      }

      &:nth-child(2) {
        img {
          width: 207px;
        }
      }

      &:nth-child(3) {
        img {
          width: 109px;
        }
      }

      &:nth-child(4) {
        img {
          width: 155px;
        }
      }
    }
  }

  .reviews {
    margin: 70px 0;

    &__wrapper {
      grid-gap: 20px;
      margin-top: 42px;
    }

    &__name {
      font-size: 18px;
      line-height: 22px;
    }

    &__text {
      font-size: 14px;
      line-height: 17px;
      margin-top: 19px;
    }

    &__footer {
      justify-content: space-between;
      margin-top: 31px;
    }
  }

  .big-form {
    padding: 30px 0 39px;

    &__form {
      margin-top: 39px;
    }

    &__fields {
      input {
        font-size: 14px;
        line-height: 17px;
        padding: 29px 44px;
      }
    }

    &__btn {
      font-size: 16px;
      line-height: 20px;
      padding: 20px 40px;
    }

    &__policy {
      font-size: 14px;
      line-height: 17px;
    }
  }

  .gallery {
    margin: 70px 0;

    &__slider {
      margin-top: 20px;
      margin-bottom: 20px;

      .slick-dots {
        bottom: -20px;

        button {
          height: 10px;
          width: 10px;
        }

        li + li {
          margin-left: 11px;
        }
      }
    }

    &__slide {
      height: calc((100vw - 40px) * 0.717);
    }
  }

  .footer {
    &__nav {
      grid-gap: 38px;
      grid-template-columns: 1fr;
      padding: 48px 0 77px;
    }

    &__category-name {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 9px;
    }

    &__go {
      font-size: 14px;
      line-height: 17px;
      margin-top: 0;

      &::after {
        background-image: url("../img/footer_arrow_small.svg");
        height: 8px;
        width: 20.5px;
      }
    }

    &__main {
      padding: 32px 0 50px;
    }

    &__logo {
      svg {
        width: 205px;
      }
    }

    &__slogan {
      font-size: 14px;
      line-height: 17px;
      margin-top: 38px;
    }

    &__contacts {
      margin-top: 30px;
    }

    &__socials img {
      width: 40px;
    }

    &__phone {
      font-size: 20px;
      line-height: 24px;
      margin-top: 30px;
    }

    &__form input {
      font-size: 14px;
      line-height: 17px;
      padding: 24px 34px;
    }

    &__btn {
      padding: 22px 45px;
    }

    &__bottom {
      flex-direction: column;
      padding: 20px 0 34px;

      * {
        width: fit-content;
      }

      a {
        margin-top: 11px;
      }
    }
  }

  .main:not(.main-page) {
    margin-top: 70px;
  }

  .breadcrumbs {
    padding-top: 23px;

    * {
      font-size: 14px;
      line-height: 17px;
    }
  }

  .services-page .services {
    margin: 23px 0 70px;
  }

  .services-list {
    margin: 23px 0 70px;

    &__grid {
      grid-gap: 50px 38px;
      margin-top: 30px;
    }

    &__img {
      height: 111px;
    }

    &__price {
      font-size: 25px;
      line-height: 30px;
      margin-top: 9px;
    }

    &__name {
      font-size: 14px;
      line-height: 17px;
      margin-top: 11px;
    }

    &__link {
      font-size: 14px;
      line-height: 17px;
      margin-top: 10px;

      &::after {
        background-image: url("../img/services_list_arrow_yellow_long.svg");
        height: 7.3px;
        width: 20.5px;
      }
    }
  }

  .service-detail {
    margin: 54px 0 38px;

    &__wrapper {
      grid-gap: 32px;
      margin-top: 28px;
    }

    &__info {
      p {
        font-size: 14px;
        line-height: 17px;
      }
    }

    &__price {
      font-size: 25px;
      line-height: 30px;
    }

    &__btn {
      font-size: 16px;
      line-height: 20px;
      padding: 20px 50px;
    }
  }

  .question {
    margin-bottom: 70px;

    &__wrapper {
      grid-gap: 36px;
      grid-template-columns: 1fr;
      padding: 22px 20px 36px;
    }

    &__h2 {
      font-size: 30px;
      line-height: 37px;
    }

    &__contacts {
      align-items: flex-start;
    }

    &__phone {
      margin-top: 19px;
    }
  }

  .contacts {
    margin: 20px 0 50px;

    &__grid {
      grid-gap: 13px;
      grid-template-columns: 1fr;
    }

    &__address, &__time {
      font-size: 14px;
      line-height: 17px;
    }

    &__map {
      height: 300px;
      margin-top: 40px;
    }
  }

  .promotions {
    margin: 21px 0 70px;

    &__grid {
      grid-gap: 38px;
      margin-top: 46px;
    }

    &__card {
      padding: 27px 10px 29px 15px;
    }

    &__name {
      font-size: 18px;
      line-height: 22px;
    }

    &__additional {
      font-size: 30px;
      line-height: 37px;
      margin-top: 13px;
    }

    &__btn {
      margin-top: 37px;
    }

    &__date {
      font-size: 14px;
      line-height: 17px;
      margin-top: 42px;
    }
  }

  .promotion {
    margin: 23px 0 70px;

    &__description {
      font-size: 14px;
      line-height: 17px;
      margin-top: 19px;
    }

    &__date {
      margin-top: 19px;
    }

    &__btn {
      font-size: 18px;
      line-height: 22px;
      margin-top: 19px;
      padding: 22px 47px;
    }
  }

  .not-found {
    &::before {
      background-image: url("../img/404_left_580.png");
      height: calc(100vw * 0.328 * 0.419);
      width: calc(100vw * 0.328);
    }

    &::after {
      background-image: url("../img/404_right_580.png");
      height: calc(100vw * 0.328 * 0.537);
      width: calc(100vw * 0.378);
    }

    &__container {
      margin: 36px 0 70px;
    }

    &__h1 {
      font-size: 40px;
      line-height: 49px;
    }

    &__description {
      font-size: 16px;
      line-height: 20px;
      max-width: 243px;
      margin-top: 7px;
    }

    &__btn {
      font-size: 15px;
      line-height: 18px;
      margin-top: 26px;
      padding: 31px 34px;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 10px;
  }

  .btn {
    font-size: 16px;
    line-height: 20px;
    min-width: 202px;
    padding: 21px 48px;
  }

  .first-block {
    padding: 20px 0 48px;

    &__h1 {
      font-size: 30px;
      line-height: 37px;
      margin-top: 75px;
      max-width: 250px;
    }

    &__description {
      font-size: 14px;
      line-height: 17px;
      margin-top: 17px;

      span {
        display: none;
      }
    }

    &__btn {
      margin-top: 39px;
    }
  }
}